$light-bg: #ffffff;
$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #e0e0e0;
$gray-6: #f2f2f2;
$base: #fefefe;
$shadow-light: 2px 4px 15px rgba(6, 12, 70, 0.15);
$shadow-dark: 2px 4px 15px rgba(230, 230, 230, 0.15);
$checked: #1b1b1b;
