.favor {
  background: $gray-6;

  &__title {
    @include title($gray-1);
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description {
    @include description($gray-2);
    width: 100%;
    max-width: 79rem;
    margin-bottom: 5.4rem;
  }

  &__progress {
    margin-top: 3rem;
    @include progress($gray-1, 8);
  }

  &__slider {
    width: 100%;
    max-width: 120rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.wrapper_favor {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__btn {
  outline: none;
  border: none;
  background: $gray-6;
}

.fslider {
  width: 100%;
  max-width: 1080px;
  overflow-x: hidden;
  height: 160px;
}

.btn-right {
  transform: rotate(180deg);
}

.fslider__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  height: 160px;
}

.fslider__item {
  .button__form,
  .button {
    width: 108px;
    height: 108px;
  }
  .button__form,
  .button,
  .button__img {
    border-radius: 50%;
  }
  .button {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button__img {
    width: 108px;
    height: 108px;
    object-fit: cover;
    margin-top: -7px;
    margin-left: -5px;
  }
  .button:hover {
    cursor: pointer;
  }
}

.fslider__item_active {
  .button__form,
  .button {
    width: 152px;
    height: 152px;
  }
  .button__form,
  .button,
  .button__img {
    border-radius: 50%;
  }

  .button__form {
    border-width: 3px;
    border-style: solid;
    border-color: transparent;

    background-image: -webkit-linear-gradient(white, white),
      -webkit-linear-gradient(to right, #07eee0 0%, #df496d 100%);
    background-image: -moz-linear-gradient(white, white),
      -moz-linear-gradient(to right, #07eee0 0%, #df496d 100%);
    background-image: -o-linear-gradient(white, white),
      -o-linear-gradient(to right, #07eee0 0%, #df496d 100%);
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #07eee0 0%, #df496d 100%);

    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .button {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button__img {
    width: 138px;
    height: 138px;
    object-fit: cover;
    margin-top: -7px;
    margin-left: -5px;
  }
  .button:hover {
    cursor: pointer;
  }
  .button__form:hover {
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #df496d 0%, #07eee0 100%);
  }
}

body.dark {
  .favor {
    background: $gray-2;

    &__title {
      @include title($base);
    }

    &__description {
      @include description($gray-6);
    }

    &__progress {
      @include progress($base, 8);
    }

    &__slider {
      width: 100%;
      max-width: 120rem;
    }
  }

  .slider__btn {
    outline: none;
    border: none;
    background: $gray-2;
  }
}
