.inspiration {
  background-color: $gray-6;

  &__column {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    @include h3($gray-1);
    margin-bottom: 1.5rem;
  }

  &__description {
    @include description($gray-2);
  }
}

// DARK MODE
body.dark {
  .inspiration {
    background-color: $gray-2;

    &__subtitle {
      @include h3($base);
    }

    &__description {
      @include description($gray-6);
    }
  }
}

@media (max-width: 1200px) {
  .inspiration {
    &__item {
      width: 100%;
      max-width: 28.6rem;
    }
  }
}

@media (max-width: 1000px) and (min-width: 640px) {
  .inspiration {
    &__item {
      width: 100%;
      max-width: 28.7rem;

      &:nth-child(2) {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }

    &__column {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 639px) and (min-width: 320px) {
  .inspiration {
    &__item {
      width: 100%;
      max-width: 30rem;

      &:nth-child(2) {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }

    &__column {
      flex-direction: column;
      align-items: center;
    }
  }
}
