.live {
  background: $gray-6;
  display: flex;
  flex-direction: column;

  &__wrapper {
    width: 100%;
    max-width: 120rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin: 0 auto;
    margin-left: 15rem;
  }

  &__title {
    @include title($gray-1);
    margin-bottom: 4rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 79rem;
  }

  &__description {
    width: 100%;
    max-width: 38rem;
  }

  &__subtitle {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: $gray-1;
    margin-bottom: 0.6rem;
  }

  &__reason {
    font-size: 14px;
    line-height: 16px;
    color: $gray-2;
    margin-bottom: 1.3rem;
  }

  &__btn {
    display: flex;
    width: 100%;
    max-width: 19.4rem;
    margin-top: 3.5rem;
  }

  &__button {
    @include button__icon();
    display: flex;
    justify-content: center;
  }
}

.video_main {
  margin-bottom: 3rem;

  iframe {
    z-index: 2;
    width: 790px;
    height: 442px;
    border-radius: 5px;
  }
}

.video_secondary {
  position: relative;
  // display: flex;
  // justify-content: space-between;
  height: 141px;
  width: 100%;
  overflow-x: hidden;
}

.video_slider_content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 100%;
}

// заглушка от ложного нажатия
// .video_secure {
//   width: 100%;
//   max-width: 79rem;
//   height: 141px;
//   position: absolute;
//   left: 0;
// }

.video__item {
  // width: 100%;
  // max-width: 272px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;

  iframe {
    width: 246px;
    height: 141px;
    border-radius: 5px;
  }
}

.video__cover {
  width: 246px;
  height: 141px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.39);
}

.video_buttons {
  margin-top: 3rem;
  display: flex;
  width: 37px;
  justify-content: space-between;
  align-items: center;
}

.video_button {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
}

.video_button_active {
  width: 11px;
  height: 11px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 50%;
}

body.dark {
  .live {
    background: $gray-2;

    &__title {
      @include title($base);
    }

    &__subtitle {
      color: $base;
    }

    &__reason {
      color: $gray-6;
    }
  }
}
