.map {
  background: $gray-6;

  &__title {
    @include title($gray-1);
    text-align: center;
    margin-bottom: 6rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    margin-top: 3.1rem;
    @include button__icon();
  }

  &__marker {
    position: absolute;
    width: 120rem;
    height: 49.8rem;
  }

  &__points {
    position: absolute;

    &:hover {
      path {
        fill: #eb5757;
      }
    }

    img {
      position: absolute;
    }

    .point-icon {
      top: 1.385rem;
      left: 1.138rem;
    }

    &_eagle {
      top: 7.4rem;
      // left: 12.1rem;
      left: 45%;
    }
    &_alligator {
      top: 10.16rem;
      // left: 17.35rem;
      left: 64%;
    }
    &_gorilla {
      top: 19rem;
      left: 43.2rem;
    }
    &_panda {
      top: 9rem;
      left: 68.16rem;
    }
  }
}

.point {
  position: relative;

  .point-icon {
    position: absolute;
    margin-top: -8.6rem;
  }

  &__hint {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 3rem;
    background: $base;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    height: 15rem;
    width: 43.6rem;
    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin-left: 4.4rem;
    }
  }

  &:hover &__hint {
    opacity: 1;
    visibility: visible;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: 12.9rem;

    h4 {
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      color: $gray-1;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      color: $gray-2;
      margin-bottom: 0.5rem;

      span {
        font-weight: 500;
        color: $gray-1;
        margin: 0.5rem;
      }
    }
  }
}

@media (width: 640px) {
  .map {
    &__title {
      margin-bottom: 5rem;
    }
  }
  .wrapper {
    padding-bottom: 8rem;
  }
}

// @media (max-width: 639px) and (min-width: 320px) {

// }
