* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.wrapper-large {
  width: 100%;
  max-width: 162rem;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.pets__wrapper {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 10rem 0;
}

@media (max-width: 1200px) {
  .wrapper,
  .wrapper-large {
    width: 100%;
    max-width: 90rem;
  }
}

@media (max-width: 1199px) and (min-width: 320px) {
  .wrapper,
  .wrapper-large,
  .pets__wrapper {
    width: 93.75%;
    margin: 0 auto;
  }
}

@media (width: 320px) {
  .wrapper,
  .pets__wrapper {
    padding: 5rem 0;
  }
}
