.pay {
  background-color: $gray-6;

  &__title {
    @include title($gray-1);
    text-align: center;
    margin-bottom: 3rem;
  }

  &__description {
    @include description($gray-3);
    text-align: center;
    margin-bottom: 9.2rem;
  }

  &__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__arrow {
    width: 10.7rem;
    height: 2px;
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    position: relative;
    margin-top: 5.4rem;

    .arrow-head {
      position: absolute;
      margin-top: -4px;
      margin-left: 9.7rem;
      width: 1rem;
      height: 1rem;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      border-image: -moz-linear-gradient(
          to right,
          #4bd8b5 -14.32%,
          #49d6df 100.68%
        )
        1% 1;
      border-image: -webkit-linear-gradient(
          to right,
          #4bd8b5 -14.32%,
          #49d6df 100.68%
        )
        1% 1;
      border-image: linear-gradient(to right, #4bd8b5 -14.32%, #49d6df 100.68%)
        1% 1;
    }
  }

  &__subtitle {
    @include h3($gray-2);
    margin-top: -10.5rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    @include button__icon();
    margin-top: 11.5rem;
  }
}

body.dark {
  .pay {
    background-color: $gray-2;

    &__title {
      @include title($base);
    }

    &__description {
      @include description($gray-6);
    }
    &__subtitle {
      @include h3($base);
    }
  }
}

@media (max-width: 1200px) {
  .pay {
    &__description {
      margin-bottom: 5rem;
    }
    &__arrow {
      width: 4rem;
      height: 2px;
      margin-top: 5.4rem;

      .arrow-head {
        margin-top: -4px;
        margin-left: 3.8rem;
      }
    }

    &__button {
      margin-top: 10.5rem;
    }
  }
}

@media (max-width: 1000px) and (min-width: 640px) {
  .pay {
    &__column {
      flex-direction: column;
      height: 87.5rem;
    }

    &__title {
      margin-bottom: 1.5rem;
    }

    &__description {
      width: 100%;
      max-width: 53.8rem;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    &__arrow {
      width: 4rem;
      height: 2px;
      transform: rotate(90deg);

      .arrow-head {
        margin-top: -4px;
        margin-left: 3rem;
      }
    }
  }
}

@media (max-width: 639px) and (min-width: 320px) {
  .pay {
    &__column {
      flex-direction: column;
      height: 87.5rem;
    }

    &__title {
      margin-bottom: 3rem;
    }

    &__description {
      display: none;
    }

    &__arrow {
      width: 4rem;
      height: 2px;

      .arrow-head {
        margin-top: -4px;
        margin-left: 3rem;
      }
    }
  }
}
