.watch {
  background-image: url(../../../online-zoo/assets/images/main-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__wrapper_mini {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 20.6rem;
  }

  &__wrapper-inner {
    padding-bottom: 11rem;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 900;
    font-size: 8.9rem;
    line-height: 10.4rem;
    width: 100%;
    max-width: 79.3rem;
    color: $base;
  }

  &__button {
    @include button__icon();
    margin-top: 3.7rem;
  }
}

.social {
  padding-top: 21.6rem;

  &__ul {
    display: flex;
    flex-direction: column;
  }

  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__link {
    width: 2rem;
    background-color: $light-bg;
    display: block;
    mask-repeat: no-repeat;

    &:hover {
      background-color: $gray-3;
    }
  }

  &__link_instagram {
    height: 2rem;
    mask-image: url(../../../online-zoo/assets/icons/instagram.svg);
  }

  &__link_twitter {
    height: 16.25px;
    mask-image: url(../../../online-zoo/assets/icons/twitter.svg);
  }

  &__link_youtube {
    height: 13.75px;
    mask-image: url(../../../online-zoo/assets/icons/youtube.svg);
  }

  &__link_vk {
    height: 11.41px;
    mask-image: url(../../../online-zoo/assets/icons/vk.svg);
  }
}

.animals {
  display: flex;
  flex-direction: column;
  // position: absolute;
  // left: 69rem;
  // margin-top: -8.6rem;
  width: 100%;
  max-width: 99rem;

  &__slider {
    display: flex;
    align-items: center;
    height: 35.2rem;
    width: 100%;
    overflow-x: hidden;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 1035px;
  }

  &__progress {
    width: 24.5rem;
    @include progress($base, 8);
    margin-top: 2rem;
    margin-left: 21rem;
  }
}

.animals-slide-mini .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 203px;

  &__card {
    display: flex;
    flex-direction: column;
    padding-right: 23px;
    padding-left: 23px;
    position: relative;
    transition: 0.6s;
  }

  &__img {
    width: 140px;
    height: 203px;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  &__description {
    width: 245px;
    height: 352px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2.3rem;
    padding-bottom: 3.4rem;
    border-radius: 0.5rem;

    z-index: 2;
    background: linear-gradient(
      348.75deg,
      #000000 10.15%,
      rgba(0, 0, 0, 0) 59%
    );
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $light-bg;

      width: 100%;
      max-width: 18rem;
      margin-bottom: 1.4rem;
    }
  }

  &__card_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 197px;

    .link-online {
      color: #4bd8b5;
    }
    .link-donate {
      margin-left: -2rem;
      color: $light-bg;

      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
    }
  }

  &__card_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    img {
      margin-right: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.animals-slide .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 291px;
  height: 352px;

  &__card {
    display: flex;
    flex-direction: column;
    padding-right: 23px;
    padding-left: 23px;
    position: relative;
    transition: 0.6s;
  }

  &__img {
    width: 245px;
    height: 352px;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  &__description {
    // display: none;
    width: 245px;
    height: 352px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2.3rem;
    padding-bottom: 3.4rem;
    border-radius: 0.5rem;

    z-index: 2;
    background: linear-gradient(
      348.75deg,
      #000000 10.15%,
      rgba(0, 0, 0, 0) 59%
    );
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $light-bg;

      width: 100%;
      max-width: 18rem;
      margin-bottom: 1.4rem;
    }
  }

  &__card_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 197px;

    .link-online {
      color: #4bd8b5;
    }
    .link-donate {
      margin-left: -2rem;
      color: $light-bg;

      outline: none;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
    }
  }

  &__card_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    img {
      margin-right: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.next,
.prev {
  cursor: pointer;
}

.bg {
  position: absolute;
  width: 100%;
  max-width: 99rem;
  margin-top: -1.7rem;
  display: flex;

  &__line {
    position: absolute;
    top: 6px;
    left: 5px;
    height: 1px;
    width: 100%;
    background-color: $base;
  }

  &__dot:first-child {
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid $base;
    border-radius: 50%;

    span {
      position: absolute;
      width: 5px;
      height: 5px;
      left: 3px;
      top: 3px;
      background: $base;
      border-radius: 50%;
    }
  }
}

.scale {
  position: absolute;
  width: 100%;
  max-width: 99rem;
  margin-top: -1.7rem;

  // margin: auto;
  width: 100%;
  height: 13px;
  display: flex;
  // position: relative;
}
.dots {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dots::after {
  content: '';
  margin: 0 6.5px;
  width: calc(100% - 13px);
  position: absolute;
  background-color: #fefefe;
  height: 1px;
}
.dot {
  display: flex;
  width: 13px;
  height: 13px;
  border: 1px solid #fefefe;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.dot::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fefefe;
}

.dot:nth-child(2) {
  margin-left: -6rem;
}

// @media (max-width: 1600px) and (min-width: 1200px) {
//   .watch {
//     &__wrapper_mini {
//       width: 100%;
//       max-width: 90rem;
//       margin: 0 auto;
//       padding-top: 12.8rem;
//     }

//     &__button {
//       margin-bottom: 10rem;
//     }

//     &__wrapper-inner {
//       padding-bottom: 7.2rem;
//     }
//   }
// }

// @media (max-width: 1199px) and (min-width: 640px) {
//   .watch {
//     &__wrapper_mini {
//       width: 93.75%;
//       margin: 0 auto;
//       padding-top: 12rem;
//     }

//     &__title {
//       font-size: 64px;
//       line-height: 75px;
//     }

//     &__button {
//       margin-bottom: 14rem;
//     }
//   }
// }

// @media (max-width: 639px) and (min-width: 320px) {
//   .watch {
//     &__wrapper_mini {
//       width: 93.75%;
//       max-width: 90rem;
//       margin: 0 auto;
//       padding-top: 9.2rem;
//     }

//     &__button {
//       margin-top: 1.5rem;
//       margin-bottom: 26.6rem;
//     }

//     &__title {
//       font-size: 48px;
//       line-height: 56px;
//     }

//     &__wrapper-inner {
//       padding-bottom: 7.2rem;
//     }
//   }
//   .social {
//     display: none;
//   }
// }
