.watch {
  background-image: url(../../../online-zoo/assets/images/main-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.watch__wrapper {
  display: flex;
  position: absolute;
}

.social {
  padding-top: 11.5rem;
  padding-bottom: 10.1rem;
}

.social__ul {
  display: flex;
  flex-direction: column;

  .social__item {
    list-style: none;
  }
  .social__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .social__link_instagram {
    width: 2rem;
    height: 2rem;
    background-color: $light-bg;
    display: block;
    mask-image: url(../../../online-zoo/assets/icons/instagram.svg);
    mask-repeat: no-repeat;
  }

  .social__link_twitter {
    width: 2rem;
    height: 16.25px;
    background-color: $light-bg;
    display: block;
    mask-image: url(../../../online-zoo/assets/icons/twitter.svg);
    mask-repeat: no-repeat;
  }

  .social__link_youtube {
    width: 2rem;
    height: 13.75px;
    background-color: $light-bg;
    display: block;
    mask-image: url(../../../online-zoo/assets/icons/youtube.svg);
    mask-repeat: no-repeat;
  }

  .social__link_vk {
    width: 2rem;
    height: 11.41px;
    background-color: $light-bg;
    display: block;
    mask-image: url(../../../online-zoo/assets/icons/vk.svg);
    mask-repeat: no-repeat;
  }
}

.watch__link {
  padding-top: 10.6rem;

  .watch__title {
    font-weight: 900;
    font-size: 8.9rem;
    line-height: 10.4rem;
    width: 100%;
    max-width: 79.3rem;
    color: $base;
  }

  .watch__button {
    @include button__icon();
    margin-top: 3.7rem;
  }
}

.watch__wrapper-inner {
  display: flex;
  // position: relative;
  padding-bottom: 1.2rem;
}

.animals {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30rem;
}

.animals__slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 35.2rem;
}

.animals__content {
  position: absolute;
  z-index: 2;
}

// PROGRESS BAR
// RE-WRITE IT FOR MIXINS!!!!!!!!!!!!!!!!!!
.animals__progress {
  @include progress($base, 8);
  margin-top: 2rem;
}

// BACKGROUND LINE FOR ANIMAL SLIDER
.bg {
  position: relative;
  width: 108rem;

  &__line {
    position: absolute;
    top: 6px;
    left: 5px;
    height: 1px;
    width: 108rem;
    background-color: $base;
  }

  &__dot {
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid $base;
    border-radius: 50%;

    span {
      position: absolute;
      width: 5px;
      height: 5px;
      left: 3px;
      top: 3px;
      background: $base;
      border-radius: 50%;
    }
  }
}
// END OF BACKGROUND LINE FOR ANIMAL SLIDER

.asd {
  @include progress($gray-1, 4);
}

.animals__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
