.watch {
  background-image: url(../../../online-zoo/assets/images/main-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__wrapper_mini {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 20.6rem;
  }

  &__wrapper-inner {
    padding-bottom: 11rem;
    display: flex;
  }

  &__title {
    font-weight: 900;
    font-size: 8.9rem;
    line-height: 10.4rem;
    width: 100%;
    max-width: 79.3rem;
    color: $base;
  }

  &__button {
    @include button__icon();
    margin-top: 3.7rem;
  }
}

.social {
  padding-top: 21.6rem;

  &__ul {
    display: flex;
    flex-direction: column;
  }

  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__link {
    width: 2rem;
    background-color: $light-bg;
    display: block;
    mask-repeat: no-repeat;

    &:hover {
      background-color: $gray-3;
    }
  }

  &__link_instagram {
    height: 2rem;
    mask-image: url(../../../online-zoo/assets/icons/instagram.svg);
  }

  &__link_twitter {
    height: 16.25px;
    mask-image: url(../../../online-zoo/assets/icons/twitter.svg);
  }

  &__link_youtube {
    height: 13.75px;
    mask-image: url(../../../online-zoo/assets/icons/youtube.svg);
  }

  &__link_vk {
    height: 11.41px;
    mask-image: url(../../../online-zoo/assets/icons/vk.svg);
  }
}

.animals {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 69rem;
  margin-top: -8.6rem;

  width: 100%;
  max-width: 99rem;

  &__slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 35.2rem;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: 13.5rem;
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: 20.3rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }
    &:hover {
      width: 245px;
      height: 352px;
      transition: all 0.4s ease-in-out;
      box-shadow: $main-card-shadow;

      .animals__description {
        display: block;
      }
    }
  }

  &__description {
    position: absolute;
    display: none;
  }

  &__progress {
    @include progress($base, 8);
    margin-top: 2rem;
    padding-left: 7rem;
  }
}

.bg {
  position: absolute;
  width: 99rem;
  margin-top: -1.7rem;

  &__line {
    position: absolute;
    top: 6px;
    left: 5px;
    height: 1px;
    width: 99rem;
    background-color: $base;
  }

  &__dot {
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid $base;
    border-radius: 50%;

    span {
      position: absolute;
      width: 5px;
      height: 5px;
      left: 3px;
      top: 3px;
      background: $base;
      border-radius: 50%;
    }
  }
}
